body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}
/*tablet*/
@media (min-width:768px) and (max-width:1157px) {
  .container {
    max-width: 768px;
    padding: 0 auto;
    overflow: visible;
  }
}
/*laptop*/
@media (min-width:1158px){
  .container {
    max-width: 1158px;
    padding: 0 15px;
    overflow: visible;
  }
}
/*------------------------------------Header-------------------------------*/
.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.top-line .container {
  display: flex;
  align-items: center;
}
.top-line .logo-nav-head {
  display: flex;
  align-items: center;
}
.top-line .logo-nav-head .menu-nav {
  gap: 40px;
  display:none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}
.logo-span {
  color: #2e2f42;
}
.menu-button {
  margin-left: auto;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px; 
  width: 24px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .menu-nav {
    display: block;
    flex-direction: column;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    z-index: 1000;
  }

  .menu-nav li {
    text-align: center;
    margin: 20px 0;
  }

  .menu-button + .menu-nav {
    display: flex;
  }
}

@media (min-width: 768px) {
  .menu-address{
    display: flex;
  }
  .top-line .logo-nav-head .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 120px;
  }

  .menu-button {
    display: none;
  }
}
.logo-nav-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**/


.nav-menu-items {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px 0;
  font-size: 16px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-items:focus,
.nav-menu-items:hover {
  color: #404bbf;
}
.nav-menu-items.active {
  color: #404bbf;
  content: "";
}

.nav-menu-items.active::after {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
@media (min-width:768px){
  .menu-address {
    margin-left: auto;
  }
}

.menu-address ul {
  list-style: none;
  margin: 0;
}
.address-list {
  display: flex;
  gap: 40px;
}

@media (min-width:768px){
  .address-list{
    flex-direction: column;
    gap: 12px;
  }
}
@media (min-width:1158px){
  .address-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.address-contacts {
  text-decoration: none;
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  display: block;
  padding: 12px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width:768px) and (max-width:1157px){
  .address-contacts{
    padding: 0 0 0 0;
  }
}
@media (min-width:1158px){
  .address-contacts{
    padding: 24px 0;
    font-size: 16px;
  }
}
.address-contacts:focus,
.address-contacts:hover {
  color: #404bbf;
}
@media (max-width:767px){
  .menu-nav{
    display:none;
  }
  .menu-address{
    display: none;
  }
}
/*-----------------------Section 1-------------------------------------------------*/
.service-section {
  background-color: #2e2f42;
  padding: 96px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
@media (max-width: 767px) and (min-resolution: 192dpi){
  .service-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-mobile@2x.jpg");
  }
}
@media (min-width: 768px) and (max-width: 1157px){
  .service-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet@1x.jpg");
  }
}
@media (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi){
  .service-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-tablet@2x.jpg");
  }
}
@media (min-width: 1158px){
  .service-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-desktop@1x.jpg");
  }
}
@media (min-width: 1158px) and (min-resolution: 192dpi){
  .service-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-desktop@2x.jpg");
  }
}
@media (min-width:1158px){
  .service-section {
    padding: 120px 0;
  }
}
@media (min-width:768px) and (max-width:1157px){
  .service-section{
    max-width: 768px;
  }
  .service-text{
    max-width: 496px;
  }
}
@media (min-width:768px){
  .service-section{
    padding: 112px 0;
  }
}
@media (min-width:1158px){
  .service-section{
    padding: 188px 0;
  }
}
.service-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width:767px) {
  .service-section{
    max-width: 320px;
  }
  .service-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
  }
}
@media (min-width:768px){
  .service-text{
    margin-bottom: 36px;
  }
}
@media (min-width:1158px){
  .service-text{
    margin-bottom: 48px;
  }
}
/*service button is the same*/
.service-button {
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service-section > .service-button:focus,
.service-section > .service-button:hover {
  background-color: #404bbf;
}
.benefit-section {
  padding: 96px 0;
}
@media (min-width:1158px){
  .benefit-section {
    padding: 120px 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefit-tables {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  row-gap:72px;
}
@media (min-width:768px) and (max-width:1157px){
  .benefit-tables {
    row-gap: 72px;
    column-gap: 24px;
    max-width: 736px;
    margin: 0 auto;
  }
}
@media (min-width:1158px){
  .benefit-tables {
    display: flex;
    flex-direction: unset;
    flex-wrap:nowrap;
    gap:24px;
  }
}
.benefit-list-section{
  gap:24px;
}
@media (max-width:767px){
  .benefit-list-section h3{
    text-align: center;
  }
}
@media (min-width:1158px){
  .benefit-list-section h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    gap:0px;
  }
  .benefit-list-section p{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }
}
@media (min-width:768px) and (max-width:1157px){
  .benefit-list-section{
    width: calc((100% - 24px) / 2);
    
  }
}
@media (min-width:1158px){
  .benefit-list-section{
    width: calc((100% - 24px) / 4);
  }
}
.benefit-icon-section {
  display:none;
}
@media (min-width:768px){
  .benefit-icon-section{
    display:none;
  }
}
@media (min-width:1158px){
  .benefit-icon-section{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
}
.benefit-icon-section .icon {
  width: 64px;
  height: 64px;
}
.benefit-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}
.benefit-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-h-two-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}
/*---------------------------------Section 3------------------------------------*/

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media (min-width:1158px){
  .team-section{
    padding: 120px 0;
  }
}
.team-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
@media (min-width:768px){
  .team-tables{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
}
@media (min-width:1158px){
  .team-tables{
    display: flex;
    gap: 24px;
  }
}

.team-card {
  background-color: #fff;
  max-width:264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-width:768px){
  .team-card{
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width:1158px){
  .team-card{
    width: calc((100% - 72px) / 4);
  }
}


.card-info {
  padding: 32px 0;
}
.card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.card-paragraph-icon {
  scale: 0, 75;
  gap: 24px;
  margin: 8px 16px 0 16px;
  display: flex;
  justify-content: center;
}
.card-paragraph-icon-list {
  width: 40px;
  height: 40px;
}
.card-paragraph-icon-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-paragraph-icon-list-link:focus,
.card-paragraph-icon-list-link:hover {
  background-color: #404bbf;
}
.card-paragraph-icon-list-link .icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
/*------------------------------Section 4------------------------------------*/

.portfolio-section {
  padding: 96px 0;
}
@media (min-width:1158px){
  .portfolio-section {
    padding: 120px 0;
  }
}
.portfolio-row {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width:768px){
  .portfolio-row{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media (min-width:1158px){
  .portfolio-row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}

.project-card {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media (min-width:768px){
  .project-card{
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width:1158px){
  .project-card{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.project-card:focus .overlay,
.project-card:hover .overlay {
  transform: translateY(0);
}
.project-card:focus,
.project-card:hover {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}
.card-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.card-paragraph-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.card-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------------------------------Footer--------------------------------------------------------*/

.footer-class .container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
@media (min-width:768px) and (max-width:1157px){
  .footer-class .container {
    padding: 0 108px;
  }
}
@media (max-width:767px){
  .footer-info-part,
  .social-media-group,
  .subscribe-part {
  display: flex;
  flex-direction: column;
  align-items: center;

  }
  .footer-info-part, .social-media-group{
    margin-bottom:72px;
  }
}
.footer-info-part {
  margin-right: 0;
}

.social-media-group {
  margin-right: 0; 
}

.subscribe-part {
  margin-bottom: 0; 
}
.form-social {
  flex-direction: column; 
  gap: 16px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1157px) {
  .menu-address{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .footer-class .container {
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: flex-start;
  }
  .form-social {
    flex-direction: row; 
    gap: 24px; 
  }
  
  .footer-info-part {
    margin-right: 24px; 
    margin-bottom: 0; 
  }

  
  .social-media-group {
    margin-bottom: 0;
    margin-right: 0; 
  }


  .subscribe-part {
    margin-top: 72px; 
  }
}


@media (min-width: 1158px) {
  .footer-class .container {
    flex-direction: row; 
    align-items: baseline;
  }
  .form-social {
    flex-direction: row; 
    gap: 24px; 
  }

  .footer-info-part {
    margin-right: 120px; 
  }


  .social-media-group {
    margin-right: 80px; 
  }

 
  .subscribe-part {
    margin-top: 0; 
  }
}




.footer-class {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/*---------------------------------------------Footer-social------------------*/

.social-media-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.card-paragraph-icon-footer {
  display: flex;
  gap: 16px;
}
.card-paragraph-icon-footer .icon {
  height: 24px;
  width: 24px;
  fill: #f4f4fd;
}
.card-paragraph-icon-list-footer {
  width: 40px;
  height: 40px;
}
.card-paragraph-icon-list-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-paragraph-icon-list-link-footer:focus,
.card-paragraph-icon-list-link-footer:hover {
  background-color: #31d0aa;
}
/*---------------------------------Footer-hw5--------------------------------*/

.form-social{
  display: flex;
  gap: 24px;
}
.form-social-label{
  display: flex;
  }
.subscribe-input{
  width: 288px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  box-sizing: border-box; 
}
@media (min-width:768px){
  .subscribe-input{
    width: 264px;
  }
}
.subscribe-input::placeholder{
  color: #FFFFFF;
}
.subscribe-input:placeholder-shown {
  border-color: #ffffff;
}
.subscribe-button{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}
.subscribe-button .icon{
  margin-left: 16px;
}
@media (min-width: 768px) {
  .subscribe-button{
    min-width: 165px;
  }
}
@media (min-width: 1158px) {
  .subscribe-button{
    min-width: 165px;
  }
}
/*--------------------------------Overlay part--------------------------------------------*/

.modal-overlay{
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items:center;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .modal{
    width: 408px;
  }
}
@media (min-width: 1158px) {
  .modal{
    width: 408px;
  }
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.close-button{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 24px;
  right:24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42;
}
.close-button:hover, .close-button:focus{
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.close-button .icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraph-modal{
  margin-bottom:16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.form-form{
  margin-bottom: 8px;
}
.label-form{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-container{
  display: flex;
  align-items: center;
  position: relative;
  min-width: 256px;
  height: 40px;
}
@media (min-width: 768px) {
  .input-container{
    min-width: 360px;
  }
}
@media (min-width: 1158px) {
  .input-container{
    min-width: 360px;
  }
}
.input-container:hover .input-customized,
.input-container:focus-within .input-customized {
  border-color: #4D5AE5;
}
.input-container:hover .icon,
.input-container:focus-within .icon {
  fill: #4D5AE5;
}
.input-container svg {
  top: 50%; 
  left: 16px;
  width: 12px;
  height: 12px;
  fill: #2E2F42;
  position: absolute;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-customized{
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-form-comment{
  margin-bottom: 16px;
}
.checkbox-wrap{
  margin-bottom: 24px;
}
.privacy-label{
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}
.privacy-link{
  color: #4d5ae5;
}
.send_form_button{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.send_form_button:hover, .send_form_button:focus{
  background-color: #404bbf;
}
.input-comment-form{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment-form:focus,.input-comment-form:hover{
  border-color: #4D5AE5;
}
.span-privacy-icon{
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right:8px;
}
input:checked + .privacy-label .span-privacy-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/**/
.menu-overlay.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*--------------------------------------------------------------*/
/*
.modal-overlay{
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items:center;
  overflow-y: auto;
}
*/

/*--------------------------------------------------------------*/
@media (max-width: 767px){
  .menu-overlay{
    background-color: #fcfcfc;
    opacity: 1;
    visibility: hidden;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu-window{
    top: 0%;
    left:0%;
    width: 320px;
    height: 100vh;
    background: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transform: translate(0%, 0%);
  }
  .nav-menu-close-button{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 24px;
    right:24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
  }
  .nav-menu-close-button:hover, .nav-menu-close-button:focus{
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .nav-menu-close-button .icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav-menu-items {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #1b1d38;
    text-decoration: none;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav-menu-items:focus,
  .mobile-nav-menu-items:hover {
    color: #404bbf;
  }
  .mobile-nav-menu-items.active {
    color: #404bbf;
    content: "";
  }
  .mobile-menu-nav{
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap:40px;
  }
  .mobile-address-contacts {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
    letter-spacing: 0.02em;
    display: block;
    padding: 12px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-address-contacts:focus,
  .mobile-address-contacts:hover {
    color: #404bbf;
  } 
  .mobile-address-list li:first-child a{
    color: #404bbf;
  }
  .mobile-menu-address{
    margin-bottom: 48px;
  }
  .mobile-card-paragraph-icon-footer {
    display: flex;
    gap: 40px;
  }
  .mobile-card-paragraph-icon-footer .icon {
    height: 24px;
    width: 24px;
    fill: #f4f4fd;
  }
}
@media (min-width: 768px){
  .menu-overlay{
    display: none;
  }
  .nav-menu-window{
    display: none;
  }
}

